# Compiled class file
*.class

# Log file
*.log


# Package Files #
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

!deploy/sample.war
**/data
**/workspace

# tmp files
*\~
.fuse*
**tmp/
*.swp
*.swo
**save/
*.SAVE
test-*
*-test*
*tmp/
*.tmp

**/*BACKUP/

# data files
**/data/
**/data-*/
**/workspace/
